@font-face {
    font-family: 'iconfont';
    src: url('./resstes/iconfont.eot');
    src: url('./resstes/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./resstes/iconfont.woff2') format('woff2'),
        url('./resstes/iconfont.woff') format('woff'),
        url('./resstes/iconfont.ttf') format('truetype'),
        url('./resstes/iconfont.svg#iconfont') format('svg');
  }
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    color:red;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
.box1{
    width:100px;
    height:100px;
    border:1px solid #ddd;
    position: relative;
}
.box1::after{
    position: absolute;
    left:50%;
    bottom:20px;
    height:0px;
    width:30px;
    border-bottom:2px solid red;
    content:"";
    transform: translateX(-50%);
}